@media screen and (min-width: 481px) and (max-width: 768px) {

	#pricePlans #plans .plan {
		width: 49%;
		margin: 0 2% 20px 0;
	}

	#pricePlans #plans > li:nth-child(2n) {
		margin-right: 0;
	}

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

	#pricePlans #plans .plan {
		width: 49%;
		margin: 0 2% 20px 0;
	}

	#pricePlans #plans > li:nth-child(2n) {
		margin-right: 0;
	}

}

@media screen and (min-width: 1025px) {

	#pricePlans {
		margin-left: 5.5rem;
		margin-top: -1rem;
	}

	#pricePlans #plans .plan {
		width:31%;
		margin: 0 1.33% 20px 0;

		-webkit-transition: all .25s;
		-moz-transition: all .25s;
		-ms-transition: all .25s;
		-o-transition: all .25s;
		transition: all .25s;
	}

	#pricePlans #plans > li:last-child {
		margin-right: 0;
	}

	#pricePlans #plans .plan:hover {
		-webkit-transform: scale(1.04);
		-moz-transform: scale(1.04);
		-ms-transform: scale(1.04);
		-o-transform: scale(1.04);
		transform: scale(1.04);
	}

	.planContainer .button a {
		-webkit-transition: all .25s;
		-moz-transition: all .25s;
		-ms-transition: all .25s;
		-o-transition: all .25s;
		transition: all .25s;
	}

	.planContainer .button a:hover {
		background: #3e4f6a;
		color: #fff;
	}

	.planContainer .button a.bestPlanButton:hover {
		background: #ff9c70;
		border: 2px solid #ff9c70;
	}
	.page-section#africa {background: url(images/africa.jpg); text-align: center;}
	#content-image{background: url(images/africa.jpg)}
	.container h2{color: white;}
	.caption{color: white}
	#content1 img{margin-top:3rem;margin: 0 auto; display: block;margin-top: 50px;}
	.col-md-6 span{line-height: 60px;}

	.coworking{background: white;}
	#partners{
		width: 79%;
		margin-left: 15rem;
	}

}